<div class="contailer-fluid">

    <div class="row">
        
    <div class="col col-lg-1"></div>
    <div class="col col-lg-10">
        <div class="text-warning h1">Salary Rules
            <div class="float-end">
              <button class="btn btn-sm btn-info" routerLink="save" data-bs-toggle="modal" data-bs-target="#exampleModal">Add New</button>
            </div>
            </div>
        <table class="table table-sm">

        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Department</th>
            <th scope="col">Designation</th>
            <th scope="col">Salary</th>
            <th scope="col" class="text-center">Actions/Total Record(s) <span class="badge bg-warning">{{salaryRules.length}}</span></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let salaryRule of salaryRules, let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{salaryRule.departmentName}}</td>
            <td>{{salaryRule.designationName}}</td>
            <td>{{salaryRule.salary}}</td>
            <td class="text-center">
    <button class="btn btn-sm btn-primary">Edit</button>&nbsp;|&nbsp;
    <button class="btn btn-sm btn-danger">Delete</button>
            </td>
          </tr>
          
        </tbody>
      </table></div>
    <div class="col col-lg-1"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Save Salary Rules</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <router-outlet></router-outlet>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
<!-- ---End Modal--- -->


</div>