<form [formGroup]="salaryRuleForm" (ngSubmit)="onSubmit()">
<div class="mb-3 row">
    <label for="staticEmail" class="col-sm-3 col-form-label">Department</label>
    <div class="col-sm-9">
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" formControlName="DepartmentId" >
            <option selected value="">Open this select menu</option>
            <!-- <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option> -->
            <option *ngFor="let department of departments" value="{{department.id}}">
              {{department.name}}
            </option>
          </select>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-3 col-form-label">Designation</label>
    <div class="col-sm-9">
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" formControlName="DesignationId" >
            <option selected value="">Open this select menu</option>
            <option *ngFor="let designation of designations" value="{{designation.id}}">
              {{designation.name}}
            </option>
          </select>
    </div>
  </div>

  <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-3 col-form-label">Salary</label>
    <div class="col-sm-9">
        <input type="text" class="form-control" formControlName="Salary" />
    </div>
  </div>

  <div class="float-end">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Save changes</button>
  </div>


</form>